html
  body
    #app
      row.menu Something cool
      col
      | Hello World, {{ test }}
      br
      | hello world
      table
        form-item(:prop1='good', :prop2='nice')
          | askldjalksdlasd
          col
          p Hi p
